* {
  box-sizing: border-box;
}

div#mcpasshash-popup {
  display: grid;
  grid-gap: 0.5em;
  margin: 3%;

  grid-template-columns: 25fr 25fr 15fr 15fr;

  grid-template-areas: var(--grid-template-areas-options-shown);
}

div#mcpasshash-popup.optionhidden {
  grid-template-areas: var(--grid-template-areas-options-hidden);
}

div#mcpasshash-popup .optionhidden {
  display: none;
}

:root {
  --grid-template-areas-options-shown:
    "sitetaglabel sitetag sitetag bump"
    "masterpasswordlabel masterpassword masterpassword masterhint"
    "sitepasswordlabel sitepassword sitepassword options"
    ". fillblankbutton fillblankbutton cancelbutton"
    "requirements requirements size size"
    "restrictions restrictions size size";

  --grid-template-areas-options-hidden:
    "sitetaglabel sitetag sitetag bump"
    "masterpasswordlabel masterpassword masterpassword masterhint"
    "sitepasswordlabel sitepassword sitepassword options"
    ". fillblankbutton fillblankbutton cancelbutton";
}


div#mcpasshash-popup > * {
  align-self: center;
}

#masterhint {
  text-align: center;
}


/* too bad attr() is not supported :( */
#sitetaglabel        { grid-area: sitetaglabel; }
#sitetag             { grid-area: sitetag; }

#sitepasswordlabel   { grid-area: sitepasswordlabel; }
#sitepassword        { grid-area: sitepassword; }

#masterpassword      { grid-area: masterpassword; }
#masterpasswordlabel { grid-area: masterpasswordlabel; }
#masterhint          { grid-area: masterhint; }

#bump                { grid-area: bump; }
#options             { grid-area: options; }
#unmask              { grid-area: unmask; }

#requirements        { grid-area: requirements; }
#restrictions        { grid-area: restrictions; }
#size                { grid-area: size; }

#cancelbutton        { grid-area: cancelbutton; }
#fillblankbutton     { grid-area: fillblankbutton; }
#clipboardbutton     { grid-area: clipboardbutton; }


#size > div.buttons {
  display: grid;
  justify-self: center;
}

#size > div.buttons > div:nth-child(odd) {
  grid-column: 1;
}
#size > div.buttons > div:nth-child(even) {
  grid-column: 2;
}

.header {
  font-size: 130%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
